<p><div style="text-align: center;">
  <a class="btn btn-primary" href="https://ko-fi.com/cyb3rdog" target="_blank" style="width: 200px;">
    <img width="16" height="16" alt="ko-fi" style="margin: 0px 8px -2px 0px;"
       src="https://github.githubassets.com/images/modules/site/icons/funding_platforms/ko_fi.svg">Buy me a Coffee</a>
  <a class="btn btn-primary" href="https://www.patreon.com/cyb3rdog" target="_blank" style="width: 200px;">
    <img width="16" height="16" alt="patreon" style="margin: 0px 8px -2px 0px;"
       src="https://github.githubassets.com/images/modules/site/icons/funding_platforms/patreon.svg">Become my Patreon</a>
</div></p>